.Calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    border-style:solid ;
    margin: 10px;
    border-width: 1px;
    height: 20px;
    width: 120px;
    
}

.number-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100px;
    width: 80px;
}

.number{
    font-size: 15px;
}

.operator{
    font-size: 15px;
}

.operator-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
}

.buttons{
    display: flex;
    flex-direction: row;
}